body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.calculator {
    background-color: #bec3eb;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px gray;
}

#display {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 4em;
    text-align: right;
    margin-bottom: 15px;
    color: #4f5998;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#numbers, #operators {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#numbers {
    flex: 3;
}

#operators {
    flex: 1;
    margin-left: 15px;
}

.row {
    display: flex;
    gap: 15px;
}

button {
    flex: 1;
    padding: 25px;
    font-size: 1.8em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: #f2f4fa;
    color: #4f5998;
}

#ac, #c {
    background-color:#858dc3;
    color: white;
}

#divide, #multiply, #subtract, #add {
    background-color: #5f68a5;
    color: white;
}

#equal {
    color: white;
    background-color: #49528d;
}

button#ac:hover, button#c:hover {
    background-color: #737dbd;
}

.row > button:hover {
    background-color: #ffffff;
}

#operators > button:hover {
    background-color: #4f5998;
}

button#equal:hover {
    background-color: #353d73;
}
